{% extends 'base.html' %} {% block main %}
<div class="profile-container">
  <div class="profile-header">
    <img
      src="{{ url_for('static', filename=user.profile_pic) }}"
      alt="Profile Picture"
      class="profile-pic"
    />
    <h1>{{ user.name }}</h1>
    <p class="username">@{{ user.username }}</p>
    <p class="location">{{ user.location }}</p>
    <p class="date-joined">Joined {{ user.date_joined }}</p>
  </div>

  <div class="profile-bio">
    <p>{{ user.bio }}</p>
  </div>

  <div class="profile-stats">
    <span
      ><strong>{{ user.posts }}</strong> <br />
      Posts</span
    >
    <span
      ><strong>{{ user.following }}</strong> <br />
      Following</span
    >
    <span
      ><strong>{{ user.followers }}</strong> <br />
      Followers</span
    >
  </div>

  <button class="follow-btn">Follow</button>
</div>
{% endblock %}
